$titleBarColor: #797879;

.titlebar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 6px 8px 14px;
    height: 30px;
    background-color: $titleBarColor;
    z-index: 100;
    -webkit-user-select: none;

    &-title{
        display:flex;
        width: 80%;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size: 1.25em;
        color: white;
        -webkit-app-region: drag; 
    }

    &-btn{
        display:flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 100%;
        padding:0;
        border: 0;
        font-size: 12pt;
        background-color: #616060;
        color: white;
        -webkit-user-select: none;
        -webkit-app-region: nodrag; 

        &-exit{
            &:after{
                content: "\00d7"; 
            }    

            &:hover{
                background-color:red;
            }
        }
    }
}