$size: 52px;
$pointerTickness: 4px;
$pointerWidth: 10px;

.ometer{
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    
    &-outer-ring{
        display:flex;
        position:absolute;
        justify-content: center;
        align-items: center;
        z-index: -2;
 
        & > *{
            display:flex;
            position: absolute;
            background-color: gray;
        }
    }

    &-digit-ring{
        display:flex;
        position:absolute;
        justify-content: center;
        align-items: center;
        z-index: -2;

        & > *{
            display:flex;
            position: absolute;
        }
    }

    &-inner{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width:  $size * 2;
        height: $size;
        border-top-left-radius: $size * 2;
        border-top-right-radius: $size * 2;
        top: calc(50% - #{$size - 2px});
        background-color: purple;

        &-pointer{
            display:flex;
            position:absolute;
            left: calc(50% - #{$pointerWidth + $size + 1px});
            top: calc(100% - #{$pointerTickness / 2} - 2px);
            transform-origin: right center;
            width: $pointerWidth + $size;
            border-top: $pointerTickness solid purple;
            z-index: -1;
        }

        &-details{
            display:flex;
            justify-content: center;
            align-self: flex-end;
            align-items: center;
            flex-wrap: wrap;
            color:white;
            height: 80%;

            &-value{
                width: 100%;
                height: 50%;
                text-align:center;
            }

            &-measure{
                width: 100%;
                height: 50%;
                text-align:center;
            }
        }
    }
}